*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: red; */
    color: #2E475D;
}
.navbar{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(240, 238, 238);
    /* position: sticky; */
    /* top: 0; */
}
.add{
    text-decoration: none;
    margin-left: 9px;
    font-size: 15px;
    /* font-weight: 500; */
}
.blue:hover{
    color: blue;
    text-decoration: underline;  
}
.navbar img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    /* margin-top: 0; */
    /* padding-top: 0; */
}
.navbar span{
    margin-left:15px ;
}
.navbar .ABC{
    margin-left: 20px;
}
.navbar p{
    margin-left:10px ;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 450px;
}
.navbar1 i{
    color: blue;
}
.navbar1 div{
    margin-left: 30px ;
}
.navbar-part{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100px;
    width: 80%;
   
}
.navbar-part img{
    height: 100px;
    width: 100px;
    padding-left: 15px;
}
.navbar-part div{
    margin-top: 20px;
    font-size: 23px;
    margin: 3vw;
    margin-left: 50px;
}
.first button{
    /* display: flex; */
    /* align-items: center; */
    height: 50px;
    width: 250px;
    /* padding-right: 0; */
    border: none;
    background-color: orangered;
    color: white;
    margin-left: 22vw;   
    font-size: 20px;
    border-radius: 10px;
}
.navbar-part1{
    display: flex;
    margin-top: 10px;
    height: 85px;
    width: 100%;
    background-color: #192733;
}

.part2{
    color: white;
    /* text-align: center; */
    padding-left: 15vw;
    padding-top: 5.5vh;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.part3{
    width: 150px;
    height: 32px;
    background-color: white;
    /* align-items: center; */
    border: none;
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 45px;
    border-radius: 5px;
}
.navbar-part2{
    height: 80vh;
    background-color: #FEF4EA;
    text-align: center;

}

.red{
    font-size: 50px;
    padding-top: 13vh;
}
.green{
    font-size: 50px;
}
.navbar-part2 p{
    font-size: 20px;
    margin-top: 6vh;
}
.navbar-part2 button{
    height: 7vw;
    width: 42vw;
    border: none;
    color: white;
    background-color: orangered;
    margin-top: 6vh;
    font-size: 4vh;
    border-radius: 5px;
}
.footer{
    font-size: 20px;
    height: 11vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer input{
    height:35px;
    width:200px ;
    border: none;
    border-top-left-radius:2.5px ;
    border-bottom-left-radius: 2.5px; 
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid wheat;
    text-shadow: 5px;
}

.footer i{
    /* display: flex; */
    text-align: center;
    padding-top:10px ;
    /* align-items: center; */
    font-size: 15px;
    background-color:#0B8484;
    width: 30px;
    height: 26px;
    position: absolute;
    color: white;
    border-top-right-radius:2.5px ;
    border-bottom-right-radius: 2.5px;
    /* position: inherit; */
}
.footer button{
    height: 45px;
    width: 200px;
    margin-left: 40px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 17px;
}

